* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 12);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}
/* TODO: Add css here */
.tabs-container {
    margin: 20px;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    font-size: x-large;
}

.tabs li {
    flex: 1; 
    margin-right: 0px; 
    padding: 50px;
    cursor: pointer;
    border-radius: 4px;
    border-right: 0.1px solid #ccc;
    background-color: #322a24; 
    text-align: center; 
    color: rgb(195, 194, 194);
}

.tabs li.active {
    background: #205774;
    color: white ;
}

.tab-content {
    margin-right: -20px;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
}

.tab-content h2 {
    color: #333;
    font-size: 38px;
    margin-bottom: 50px;
    font-weight:bolder;
}

.tab-content p {
    color: #555;
    font-size: 26px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    line-height: 1.6; 
    justify-content: space-between; 
}


@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}